body {
    background: #f4f4f4;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 40%;
    animation: move 4s linear infinite;
}

@keyframes move {
    0% { left: 0; }
    100% { left: 100%; }
}
.circle:hover {
    animation-play-state: paused;
   background-color: blue;
   align-items: center;
}